*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: "result content__details";
  gap: 30px;
  justify-content: center;
  min-width: 1140px;
  margin: 133px 30px;
  align-items: end;
  inline-size: 100%;
}

.result {
  grid-area: "result";
  width: 711px;
  margin-top: 78px;
}

.result__video-container {
  position: relative;
  min-width: 711px;
  height: 386px;
  margin-bottom: 16px;
  background: url("path_to_image");
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  width: 711px;
  height: 54px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 6px;
  border: none;
  inline-size: 100%;
  cursor: pointer;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  font-family: "Fira Sans Condensed", sans-serif;
  color: #fff;
  margin-bottom: 5px;
}

.search-form__textfield {
  font-family: 'Fira Sans Condensed', sans-serif;
  border-top: 1px solid #FFF;
  border-right: none;
  border-bottom: 1px solid #FFF;
  border-left: none;
  color: #FFF;
  padding: 2px 0px;
  font-weight: 400;
  font-size: 18px;
  background-color: transparent;
  inline-size: 225px;
  appearance: none;
  cursor: pointer;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  align-items: center;
}

.search-form__checkbox:checked ~ .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #FFF;
  inline-size: 15px;
  block-size: 15px;
  margin: 1px 1px 1px 1px;
}


.search-form__label:hover .search-form__label-text {
  text-decoration: 1px underline #FFF;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  cursor: pointer;
  display: block;
  border: 1px solid #FFF;
  min-height: 19px;
  min-width: 19px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.content__details {
  width: 399px;
  height: 534px;
  grid-area: "content__detai";
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-flow: column wrap;
  gap: 26px;
}

.button {
  background-color: transparent;
  align-items: center;
  color: #FFF;
  border: 1px solid #FFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  font-family: 'Fira Sans Condensed', sans-serif;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline 1px #FFF;
  text-underline-offset: 2px;
}

.button:focus {
  outline: none;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 2px;
}

.search-form__submit-button {
  padding: 6px 73px 6px 73px;
  margin-top: 17px;
}

.more-button {
  padding: 6px 140px;
  margin-bottom: 8px;
}

.title {
  width: 259px;
  height: 210px;
  line-height: 0.94;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  color: #fff;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  max-width: 399px;
  max-height: 298px;
  overflow-y: auto;
}

.content__list-item {
  display: flex;
  flex-direction: column;
  padding: 0 3px 30px 3px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.content__card-link:hover {
  text-decoration: underline 1px #FFF;
  text-underline-offset: 2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF;
}

.content__card-link:active {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__video-card-title {
  line-height: 1;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
}

.content__video-card-description {
  font-weight: 400;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  color: #fff;
}
.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  background: url("path_to_image");
  object-fit: cover;
  object-position: bottom;
}

.content__video-card-description-container {
  flex-grow: inherit;
}

.more-button-template {
  display: flex;
}

.button more-button {
  display: flex;
  flex-direction: row;
}
